.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid  2px;
    border-radius: 15px;
    height: 130px;
    width: 600px;
    margin: 0 auto;
}