<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Watches</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Here's all the Watches</h1>
    <p><a href="/watches/new">Add a new watch</a></p>
    <ul>
      <% watches.forEach(watch => { %>
        <li>
         <%= watch.company %> <%= watch.model %>
          <a href="/watches/<%= watch._id %>">Details</a>
        </li>
     <% }); %>
    </ul>
  </body>
</html>